.jumbotron{
    background-color: violet;
    color: black;
    margin-top: 45px;
}

footer{

    padding: 10px 10px 0 10px;
    background-color: violet;
    margin-bottom: 0px;
    margin-top: 10px;
    
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px; 
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-icon{
    padding-right: 10px;
}

.tab-content, .img-fluid{
    padding-top: 20px;
}

.carousel-dark{

    filter: invert(100);
}