$violet: #cc2adb;
$black: #000000;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color:$violet;
    color: $black;
    @include margenes(45px, 15px);
}

footer{

    padding: 10px 10px 0 10px;
    background-color:$violet;
    @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px; 
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-icon{
    padding-right: 10px;
}

.tab-content, .img-fluid{
    padding-top: 20px;
}

.carousel-dark{
    filter: invert(100);
}