.jumbotron {
  background-color: #cc2adb;
  color: #000000;
  margin-top: 45px;
  margin-bottom: 15px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #cc2adb;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-icon {
  padding-right: 10px; }

.tab-content, .img-fluid {
  padding-top: 20px; }

.carousel-dark {
  filter: invert(100); }
